.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.menuss {
  background-image: linear-gradient(to right, #63b1f8, #5bc7ef, #81d8e1, #b0e4d8, #daefde, #daefde, #daefde, #daefde, #b0e4d8, #81d8e1, #5bc7ef, #63b1f8);
}

.logo {
  font-family: 'Barlow', sans-serif;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}